<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <div align = 'center'>
    {% block content %} {% endblock %}
    </div>
    <style>
        body {
            background-image: url(https://wallpaperbat.com/img/418314-free-download-download-wallpaper-1920x1080-bird-silhouette-vector.jpg);
            background-size: 100%;
            color: white;
        }
    </style>
</body>
</html>